<!DOCTYPE html>
<html lang="en-US" class="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Profiler Editor</title>

  <link rel="stylesheet" href="../public/css/editor.css">
  <link rel="stylesheet" href="../public/css/coloris.css">
  <script src="../public/js/coloris.js"></script>
</head>

<body class="antialiased text-body font-body classic-navbar editor" data-editor="shuffle">

  <div class="container-fluid">
    <div class="row">
      <aside class="components-menu">
        <div class="components-menu-inner">
          <div class="components-menu__logo " id="components-menu__logo">
            <img src="../public/images/profiler.svg" alt="Shuffle" class="logo">
            <span class="icon-text">Profiler</span>
          </div>


          <ul class="nav components-menu__nav " id="components-menu__nav">
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Picture location</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select name="picLoc" id="picLoc" class="btn-white dropdown nav-link" required>
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="right">Right</option>
                <option value="left">Left</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Background Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="bgColor" class="btn-white nav-link" value="#f2f3f7" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Main Background Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="mainColor" class="btn-white nav-link" value="#ffffff" data-coloris required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Title Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="titleTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="detailsTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Pronouns Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="pronounsTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Bio Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="bioTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="linkTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Hover Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="linkHoverTextColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Icon Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="detailsIconColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Icon Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="detailsIconHoverColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Icon Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="linkIconColor" class="btn-white nav-link" value="#000000" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Icon Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="linkIconHoverColor" class="btn-white nav-link" value="#1989ce" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Verification Badge Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="verificationBadgeColor" class="btn-white nav-link" value="#1da1f2" data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Verification Badge Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input name="verificationBadgeHoverColor" class="btn-white nav-link" value="#1989ce" data-coloris
                required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Bio Text Align</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select name="bioTextAlign" class="btn-white dropdown nav-link" required>
                <option value="left">Left</option>
                <option value="Center">Center</option>
                <option value="right">Right</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Footer State</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select name="footerState" class="btn-white dropdown nav-link" required>
                <option value="visible">Visible</option>
                <option value="hidden">Hidden</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item components-menu__category">
              <small>&copy; 2021 All rights reserved, Profiler</small>
            </li>
          </ul>
        </div>
      </aside>
      <main class="col overflow-x" id="main">
        <div class="main__menu d-flex">
          <div class="ml-auto">

            <a href="#" class="btn btn-primary track-click mr-1" target="_blank" rel="nofollow noopener">
              Export project
            </a>
            <a href="#" class="btn btn-secondary track-click mr-1" data-to rel="nofollow noopener">
              <i class="icon-history"></i> Reload Preview
            </a>
          </div>
        </div>
      </main>
      <iframe title="Edited page content " class="overflow-auto" height="100%" frameBorder="1" width="25%"
        src="https://preview.profile.themes.omg.lol/index.php?bgBody=F2F3F7&bgmain=fff&mainRadius=10&pictureRadius=100&font=Consolas&titleColor=000&detailsColor=000&detailsIcon=000&pronounsColor=000&bioColor=000&linkColor=000&linkHover=000&verifyBadge=1DA1F2&verifyHover=1989ce&linkIcon=1989ce&linkIconHover=1989ce&textAlign=left&footerState=visible"
        id="iframe-content"></iframe>
      <!-- <div class="browser browser--desktop" data-mockup="theme">
      <div class="">
        <div class="">
          <div class="browser__content">
            <iframe title="Edited page content" frameBorder="0" width="100%"
              src="https://preview.profile.themes.omg.lol/index.php?bgBody=F2F3F7&bgmain=fff&mainRadius=10&pictureRadius=100&font=Consolas&titleColor=000&detailsColor=000&detailsIcon=000&pronounsColor=000&bioColor=000&linkColor=000&linkHover=000&verifyBadge=1DA1F2&verifyHover=1989ce&linkIcon=1989ce&linkIconHover=1989ce&textAlign=left&footerState=visible"
              id="iframe-theme"></iframe>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
  <script>
    Coloris({
      // The bound input fields are wrapped in a div that adds a thumbnail showing the current color
      // and a button to open the color picker (for accessibility only). If you wish to keep your 
      // fields unaltered, set this to false, in which case you will lose the color thumbnail and 
      // the accessible button (not recommended).
      wrap: true,

      // Available themes: light, dark, polaroid, polaroid-dark.
      // More themes might be added in the future.
      theme: 'light',

      // The margin between the input fields and the color picker's dialog.
      margin: 2,

      // Set the prefered color string format:
      //  * hex: outputs #RRGGBB or #RRGGBBAA.
      //  * rgb: outputs rgb(R,G,B) or rgba(R,G,B,A).
      //  * mixed: defaults to #RRGGBB when alpha is 1, otherwise rgba(R,G,B,A).
      format: 'hex',

      // Show an optional clear button and set its label
      clearButton: {
        show: false,
        label: 'Clear'
      },

      // An array of the desired color swatches to display. If omitted or the array is empty,
      // the color swatches will be disabled.
      swatches: []
    });
  </script>
</body>

</html>