<!DOCTYPE html>
<html lang="en-US" class="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Profiler</title>

  <link rel="stylesheet" href="../public/css/editor.css">
  <link rel="stylesheet" href="../public/css/coloris.css">
  <script src="https://themes.omg.lol/js/coloris.js"></script>
  <script src="https://themes.omg.lol/js/fileSaver.js"></script>
  <script src="https://themes.omg.lol/js/generate.js"></script>
  <script src="https://themes.omg.lol/js/sliders.js"></script>
  <script src="https://themes.omg.lol/js/right.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script>
    let { currentVersion } = '';

    currentVersion = require('electron').remote.app.getVersion();
  </script>
</head>

<body onload="reload();" id="target-light" class="target-light antialiased text-body font-body classic-navbar editor">

  <div class="container-fluid">

    <div id="contextMenu" class="context-menu" style="display: none">
      <ul class="menu">
        <!-- <li class="rename"><a><i class="fas fa-code-merge" aria-hidden="true"></i> v
            <script>document.write(currentVersion)</script>
          </a>
        </li>
        <br> -->
        <li class="download"><a style="cursor: pointer;" onclick="generate();"><i class="fa fa-share"
              aria-hidden="true"></i> Export Theme (ctrl + e)</a>
        </li>
        <li class="rename"><a style="cursor: pointer;" onclick="reload();"><i class="fas fa-redo-alt"></i> Force
            Reload (ctrl + r)</a></li>
        <!-- <li class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i> Copy Link Address</a></li>
        <li class="copy"><a href="#"><i class="fa fa-copy" aria-hidden="true"></i> Copy to</a></li>
        <li class="paste"><a href="#"><i class="fa fa-paste" aria-hidden="true"></i> Move to</a></li> -->
        <li class="trash"><a href="index.html"><i class="fa fa-trash" aria-hidden="true"></i> Delete Theme</a></li>
      </ul>
    </div>
    <div class="row">
      <aside class="components-menu">
        <div class="components-menu-inner">
          <div class="components-menu__logo " id="components-menu__logo">
            <img src="../public/images/iconpluslogo.svg" alt="Shuffle" class="logo">
          </div>


          <ul class="nav components-menu__nav " id="components-menu__nav">
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Theme name</h5>
            </li>
            <li class="components-menu__category">
              <input onfocusout="reload()" id="themeName" class="btn-white nav-link" placeholder="Theme Name" required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <!-- <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Picture location</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select name="picLoc" id="picLoc" class="btn-white dropdown nav-link" required>
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="right">Right</option>
                <option value="left">Left</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li> -->
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Background Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" onfocusout="reload()" id="bgColor" class="btn-white nav-link" value="#f2f3f7"
                data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Main Background Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="mainColor" class="btn-white nav-link" value="#ffffff" data-coloris
                required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Title Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="titleTextColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="detailsTextColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Pronouns Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="pronounsTextColor" class="btn-white nav-link" value="#000000"
                data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Bio Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="bioTextColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="linkTextColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Hover Text Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="linkHoverTextColor" class="btn-white nav-link" value="#000000"
                data-coloris required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Icon Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="detailsIconColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Details Icon Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="detailsIconHoverColor" class="btn-white nav-link" value="#000000"
                data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Icon Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="linkIconColor" class="btn-white nav-link" value="#000000" data-coloris
                required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Link Icon Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="linkIconHoverColor" class="btn-white nav-link" value="#1989ce"
                data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Verification Badge Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="verificationBadgeColor" class="btn-white nav-link" value="#1da1f2"
                data-coloris required>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Verification Badge Hover Color</h5>
            </li>
            <li class="nav-item components-menu__category">
              <input onfocusout="reload()" id="verificationBadgeHoverColor" class="btn-white nav-link" value="#1989ce"
                data-coloris required>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Bio Text Align</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select id="bioTextAlign" class="btn-white dropdown nav-link" required>
                <option value="left">Left</option>
                <option value="Center">Center</option>
                <option value="right">Right</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Font Family</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select id="font" class="btn-white dropdown nav-link" required>
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Georgia">Georgia</option>
                <option value="Garamond">Garamond</option>
                <option value="Roboto">Roboto</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Main Card Border Radius</h5>
            </li>
            <input onfocusout="reload()" name="mainBorderRadius" id="mainBorderRadius" type="range" value="10" min="0"
              max="999" oninput="rangevalue.value=value+'px'" class="btn-white dropdown nav-link" />
            <output id="rangevalue" class="btn-primary">10px</output>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Image Border Radius</h5>
            </li>
            <input onfocusout="reload()" name="pictureBorderRadius" id="pictureBorderRadius" type="range" value="10"
              min="0" max="99" oninput="rangevalueTwo.value=value+'%'" class="btn-white dropdown nav-link" />
            <output id="rangevalueTwo" class="btn-primary">10%</output>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item mt-1">
              <h5 class="components-menu__header mt-1">Footer State</h5>
            </li>
            <li class="nav-item components-menu__category">
              <select id="footerState" class="btn-white dropdown nav-link" required>
                <option value="visible">Visible</option>
                <option value="hidden">Hidden</option>
              </select>
            </li>
            <li class="nav-item components-menu__category">
              <hr>
            </li>
            <li class="nav-item components-menu__category">
              <small>&copy; 2021 All rights reserved, Profiler</small>
            </li>
          </ul>
        </div>
      </aside>
      <main class="col overflow-x" id="main">
        <div class="main__menu d-flex">
          <div class="ml-auto">

            <button onclick="generate();" class="btn btn-primary track-click mr-1" rel="nofollow noopener">
              Export theme
            </button>
            <!-- <button onclick="saveConfig();" class="btn btn-secondary track-click mr-1" rel="nofollow noopener">
              Export Config
            </button> -->
            <!-- <button onclick="reload();" class="btn btn-primary track-click mr-1" rel="nofollow noopener">
              <i class="fa-solid fa-arrow-rotate-right"></i>
            </button> -->
          </div>
        </div>
        <iframe title="Edited page content" height="100%" frameBorder="0" width="100%"
          src="https://preview.profile.themes.omg.lol/index.php?bgBody=F2F3F7&bgmain=fff&mainRadius=10&pictureRadius=100&font=Consolas&titleColor=000&detailsColor=000&detailsIcon=000&pronounsColor=000&bioColor=000&linkColor=000&linkHover=000&verifyBadge=1DA1F2&verifyHover=1989ce&linkIcon=1989ce&linkIconHover=1989ce&textAlign=left&footerState=visible"
          id="preview"></iframe>
      </main>
      <!-- <div class="browser browser--desktop" data-mockup="theme">
      <div class="">
        <div class="">
          <div class="browser__content">
            <iframe title="Edited page content" frameBorder="0" width="100%"
              src="https://preview.profile.themes.omg.lol/index.php?bgBody=F2F3F7&bgmain=fff&mainRadius=10&pictureRadius=100&font=Consolas&titleColor=000&detailsColor=000&detailsIcon=000&pronounsColor=000&bioColor=000&linkColor=000&linkHover=000&verifyBadge=1DA1F2&verifyHover=1989ce&linkIcon=1989ce&linkIconHover=1989ce&textAlign=left&footerState=visible"
              id="iframe-theme"></iframe>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
  <script>
    Coloris({
      // The bound input onfocusout="reload()"fields are wrapped in a div that adds a thumbnail showing the current color
      // and a button to open the color picker (for accessibility only). If you wish to keep your 
      // fields unaltered, set this to false, in which case you will lose the color thumbnail and 
      // the accessible button (not recommended).
      wrap: true,

      // Available themes: light, dark, polaroid, polaroid-dark.
      // More themes might be added in the future.
      theme: 'light',

      // The margin between the input onfocusout="reload()"fields and the color picker's dialog.
      margin: 2,

      // Set the prefered color string format:
      //  * hex: outputs #RRGGBB or #RRGGBBAA.
      //  * rgb: outputs rgb(R,G,B) or rgba(R,G,B,A).
      //  * mixed: defaults to #RRGGBB when alpha is 1, otherwise rgba(R,G,B,A).
      format: 'hex',

      // Show an optional clear button and set its label
      clearButton: {
        show: false,
        label: 'Clear'
      },

      // An array of the desired color swatches to display. If omitted or the array is empty,
      // the color swatches will be disabled.
      swatches: []
    });
  </script>
  <script>
    window.addEventListener('keydown', (event) => {
      if (event.keyCode === 69 && event.ctrlKey) {
        generate();
      } else if (event.keyCode === 82 && event.ctrlKey) {
        reload();
      }
    })
  </script>
</body>

</html>