<!DOCTYPE html>
<html>

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Profiler</title>
  <link rel="stylesheet" href="../public/undraw.css" />
  <link rel="shortcut icon" href="../../assets/icon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="../public/titleBar.css"> -->
  <style>
    #openBtn,
    #createBtn {
      display: inline-block !important;
      /* additional code */
    }

    .footer {
      position: fixed;
      left: 10px;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body onload="reload()">

  <div id="__next">
    <div class="page">
      <div class="nav nav__hidden">
        <div class="nav__container">
          <div class="nav__logo">Profiler</div>
        </div>
      </div>
      <header class="page__header" style="visibility:visible">
        <h1>Not connected</h1>
      </header>
      <div class="subheader">
        <div class="subheader__container">
          <div class="page__address">Design your own custom omg.lol profile</div>
          <p class="page__description">Connect to internet to get started</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    function reload() {
      const checkInternetConnected = require("check-internet-connected");

      setInterval(() => {
        checkInternetConnected()
          .then(() => {
            window.location.href = 'index.html'
          })
          .catch((err) => {
            return console.log('Internet Connection Checked: Not connected')
          });
      }, 30000);
    }
  </script>
</body>

</html>