<!DOCTYPE html>
<html>

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>unDraw - Open source illustrations for any idea</title>
  <meta name="description"
    content="The design project with open-source illustrations for any idea you can imagine and create. Create beautiful websites, products and applications with your color, for free." />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="unDraw - Open source illustrations for any idea" />
  <meta property="og:url" content="https://undraw.co" />
  <meta property="og:description"
    content="The design project with open-source illustrations for any idea you can imagine and create. Create beautiful websites, products and applications with your color, for free." />
  <meta property="og:image"
    content="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/v2/undraw_social_20.png" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="unDraw - Open source illustrations for any idea" />
  <meta name="twitter:description"
    content="The design project with open-source illustrations for any idea you can imagine and create. Create beautiful websites, products and applications with your color, for free." />
  <meta name="twitter:image"
    content="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/v2/undraw_social_20.png" />
  <meta name="twitter:url" content="https://undraw.co" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#6c63ff" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="next-head-count" content="24" />
  <link rel="preload" href="/_next/static/css/commons.f1b4c1a7.chunk.css" as="style" />
  <link rel="stylesheet" href="/_next/static/css/commons.f1b4c1a7.chunk.css" />
  <link rel="preload" href="/_next/static/Z7IivjK9TyTIfB2cB1nmN/pages/index.js" as="script" />
  <link rel="preload" href="/_next/static/Z7IivjK9TyTIfB2cB1nmN/pages/_app.js" as="script" />
  <link rel="preload" href="/_next/static/runtime/webpack-4b444dab214c6491079c.js" as="script" />
  <link rel="preload" href="/_next/static/chunks/commons.fcbdda1b0916d98effd5.js" as="script" />
  <link rel="preload" href="/_next/static/runtime/main-41870f64557e0cf6b331.js" as="script" />
</head>

<body>
  <div id="__next">
    <div class="land">
      <div class="nav nav__hidden">
        <div class="nav__container">
          <div class="nav__logo">unDraw</div>
          <div class="nav__menu"><span class="nav__menu__item">Illustrations</span>
            <div class="dropdown"><span class="page__header__menu__item--more"><svg viewBox="0 0 512 512" fill="505050">
                  <path
                    d="M255.8 218c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38zM102 218c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38zm308 0c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38z">
                  </path>
                </svg></span></div>
          </div>
        </div>
      </div>
      <div class="land__main">
        <header>
          <h1>unDraw</h1>
          <div class="page__sub page__sub--linked">\ ˌi-lə-ˈstrā-shən</div>
          <h2 class="land__title"><span>Open-source illustrations</span> for any idea you can imagine and create.</h2>
          <h2 class="land__title">A <span>constantly updated design project</span> with beautiful SVG images that you
            can use completely free and without attribution.</h2><button class="button__primary land__mob__cta">Browse
            now</button>
          <p class="land__options__text land__footer__mob">Created by <a class="land__link"
              href="https://twitter.com/ninaLimpi" target="_blank" rel="noopener noreferrer">Katerina Limpitsouni</a>
          </p>
        </header>
        <div>
          <h2>synopsis</h2>
          <p>Create better designed websites, products and applications. Browse to find the images that fit your
            messaging, automagically customise the color to match your brand and use it as a normal image, embedded code
            or directly in your design workflow.</p>
        </div>
        <div>
          <h2>related words</h2>
          <div class="land__words">
            <div class="land__words_col"><span>Illustration</span><span>Design</span><span>Graphics</span></div>
            <div class="land__words_col"><span>Art</span><span>Images</span><span>Vectors</span></div>
            <div class="land__words_col"><span>Minimal</span><span>Free</span><span>Modern</span></div>
            <div class="land__words_col"><span>SVG</span><span>PNG</span><span>Interface</span></div>
          </div>
        </div>
        <div>
          <h2 class="landmob_nomargin">technology</h2>
          <p>Use images that scale without quality degradation, making them not just retina but future-ready. With a
            tiny file size, combine dozens SVG images without worries about speed and with the ability to embed them to
            minimise requests, for blazing-fast loading times.</p>
        </div>
        <div>
          <h2>style</h2>
          <p>Quality illustrations available for your designs with customisable color(s), objects that can be combined
            and modified to create new exciting images and with a design style that balances art and tech to
            future-proof your designs.</p>
        </div>
        <div>
          <h2>open-source license</h2>
          <p>You can use the illustrations in any project, commercial or personal without attribution or any costs. A
            truly open <span class="land__link">license</span>, babe! Just don’t try to replicate unDraw, re-distribute
            the illustrations or create integrations for it.</p>
        </div>
        <div>
          <h2>history</h2>
          <p>Launched in 2017, with the simple goal to show that we designers should contribute to the open-source
            community, to help bring beautiful design abilities to everyone. unDraw has grown unexpectedly to be used by
            organisations like Google, Microsoft, Facebook, Harvard Business School, started something cool with Adobe
            and has been adopted by a <span class="land__link">truly open community</span> that includes designers,
            developers and content creators, using it everyday in unique and unexpected products, projects and ways.</p>
        </div>
        <div class="land__footer__optionsMob"><button class="button__primary land__footer__cta">Browse now</button>
          <p class="land__options__text">Created by <a class="land__link" href="https://twitter.com/ninaLimpi"
              target="_blank" rel="noopener noreferrer">Katerina Limpitsouni</a></p>
          <p class="land__options__text">Code / Design by <a class="land__link" href="https://twitter.com/anges244"
              target="_blank" rel="noopener noreferrer">Aggelos Gesoulis</a></p>
        </div>
        <footer>
          <div class="land__footer__mob"><span class="land__footer__link">Thankful</span><a class="land__footer__link"
              href="https://blog.undraw.co" target="_blank" rel="noopener noreferrer">Blog</a><a
              class="land__footer__link" href="https://twitter.com/undraw_co" target="_blank"
              rel="noopener noreferrer">Twitter</a><a class="land__footer__link" href="https://moodful.me"
              target="_blank" rel="noopener noreferrer">Moodful</a></div>
          <div class="land__footer__mob"><a class="land__footer__link" href="https://xd.undraw.co" target="_blank"
              rel="noopener noreferrer">For designers</a><a class="land__footer__link"
              href="https://miro.com/marketplace/undraw/?ref=undraw.co" target="_blank"
              rel="noopener noreferrer">Symbols for Miro</a><span class="land__footer__link">License</span></div>
          <div class="land__footer"><span class="land__footer__link">Thankful</span><a class="land__footer__link"
              href="https://xd.undraw.co" target="_blank" rel="noopener noreferrer">For designers</a><a
              class="land__footer__link" href="https://miro.com/marketplace/undraw/?ref=undraw.co" target="_blank"
              rel="noopener noreferrer">Symbols for Miro</a><a class="land__footer__link" href="https://blog.undraw.co"
              target="_blank" rel="noopener noreferrer">Blog</a><a class="land__footer__link"
              href="https://twitter.com/undraw_co" target="_blank" rel="noopener noreferrer">Twitter</a><a
              class="land__footer__link" href="http://status.undraw.co/" target="_blank"
              rel="noopener noreferrer">Status</a><span class="land__footer__link">License</span></div>
          <div class="land__footer__cp">©
            <!-- -->2021
            <!-- --> · Katerina Limpitsouni · All rights reserved
          </div>
        </footer>
      </div>
      <div class="land__options">
        <div class="land__options__inner"><button class="button__primary">Browse now</button>
          <p class="land__options__text">Created by <a class="land__link" href="https://twitter.com/ninaLimpi"
              target="_blank" rel="noopener noreferrer">Katerina Limpitsouni</a></p>
          <p style="visibility:hidden" class="land__options__text land__options__text--secondary">Code / Design by <a
              class="land__link" href="https://twitter.com/anges244" target="_blank" rel="noopener noreferrer">Aggelos
              Gesoulis</a></p>
        </div>
      </div>
    </div>
  </div>
  <script id="__NEXT_DATA__"
    type="application/json">{"dataManager":"[]","props":{"pageProps":{}},"page":"/","query":{},"buildId":"Z7IivjK9TyTIfB2cB1nmN","runtimeConfig":{"API_URL":"https://undraw.co/api"},"nextExport":true,"autoExport":true}</script>
  <script nomodule="" src="/_next/static/runtime/polyfills-5c6befe99fce5c988bcc.js"></script>
  <script async="" data-next-page="/" src="/_next/static/Z7IivjK9TyTIfB2cB1nmN/pages/index.js"></script>
  <script async="" data-next-page="/_app" src="/_next/static/Z7IivjK9TyTIfB2cB1nmN/pages/_app.js"></script>
  <script src="/_next/static/runtime/webpack-4b444dab214c6491079c.js" async=""></script>
  <script src="/_next/static/chunks/commons.fcbdda1b0916d98effd5.js" async=""></script>
  <script src="/_next/static/runtime/main-41870f64557e0cf6b331.js" async=""></script>
</body>

</html>