@import url("https://omg.lol/meta/css/type.css?v=2021-09-03_a");
@import url("https://omg.lol/meta/css/color.css?v=2021-09-03_a");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Links */

a:link,
a:visited,
a:hover,
a:active {
  font-weight: 500;
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

/* Colors */

.error {
  background: var(--oc-red-9) !important;
  color: var(--oc-white) !important;
}
.error a:link,
.error a:visited,
.error a:hover,
.error a:active {
  color: var(--oc-white);
}

.warning {
  background: var(--oc-orange-9) !important;
  color: var(--oc-white) !important;
}
.warning a:link,
.warning a:visited,
.warning a:hover,
.warning a:active {
  color: var(--oc-white);
}
.ok {
  background: var(--oc-green-9) !important;
  color: var(--oc-white) !important;
}
.ok a:link,
.ok a:visited,
.ok a:hover,
.ok a:active {
  color: var(--oc-white);
}

/* Stuff */

.message-icon {
  margin: 0;
  padding: 0.75em;
  float: left;
}

.message-text {
  margin: 0;
  padding: 0.75em;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.message {
  margin: 1em 0;
  padding: 0;
  border-radius: 0.2em;
  overflow: hidden;
}

.fa-pull-left {
  margin-right: 0.5em;
}

.fa-ul {
  /*margin: 0 0 0 1.5em !important;*/
  margin-left: 1.5em;
}

.fa-ul a:link,
.fa-ul a:visited {
  text-decoration: none;
}

/* Start */

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

/*
html {
    overflow: auto;
    height: 100%;
}
*/

body {
  height: 100%;
  margin: 0;
  margin-top: -3.5em;
  margin-bottom: -3.5em;
  padding: 0;
  font-family: "Roboto", "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: var(--oc-black);
  font-feature-settings: "ss02", "ss03";
  overflow-x: hidden;
}
header p {
  font-weight: 800;
  text-transform: uppercase;
}

/* Forms */

form aside {
  display: block;
}

label:hover {
  cursor: pointer;
}

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: 0;
  padding: 0;
}

form ul li label {
  font-weight: 300;
}

.form-light select,
.form-light input[type="text"],
.form-light input[type="color"],
.form-light input[type="password"],
.form-light input[type="number"],
.form-light textarea {
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #efefef;
  padding: 12px 16px;
  font-family: Muli, sans-serif;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form-light ::placeholder {
  color: var(--oc-gray-6);
}

input[type="text"]:disabled:hover,
input[type="color"]:disabled:hover {
  cursor: not-allowed;
}

select,
input[type="text"],
input[type="color"],
input[type="password"],
input[type="number"],
input[type="submit"],
button,
.button,
textarea {
  font-family: "Roboto", "Segoe UI", sans-serif;
  display: inline;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #efefef;
  padding: 12px 16px;
  font-family: Muli, sans-serif;
  font-size: 14px;
  transition: border-color 0.3s;
}

::placeholder {
  color: var(--oc-gray-6);
}

select,
input[type="text"],
input[type="color"],
input[type="number"],
input[type="password"],
textarea {
  width: 100%;
  border-radius: 0.2em;
}

select:hover {
  cursor: pointer;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="radio"] ~ label:before {
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  content: "\f111"; /* unselected, idle */
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 1.2em;
  color: var(--oc-black);
  width: 1.4em;
}

input[type="radio"]:checked ~ label:before {
  content: "\f058"; /* selected */
  font-weight: 800;
  font-size: 1.2em;
  color: var(--oc-blue-7);
  letter-spacing: 5px;
}
input[type="radio"]:focus ~ label:before,
input[type="radio"]:focus ~ label {
  color: #0f62fe;
}
.centered {
  text-align: center;
}

.smaller {
  font-size: 70%;
}

.larger {
  font-size: 140%;
}

.buffered {
  margin: 0.5em 0 !important;
}

.inner {
  padding: 0 -2.5em !important;
  max-width: 110em !important;
  margin: 0em auto;
  display: inline-block !important;
}

.flexed {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

/* ////////////////// */

.flexible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em -1em 0 -1em;
}

.box-big {
  flex-grow: 1;
  width: 40em !important;
  margin: 0 1em;
}

.box {
  flex-grow: 1;
  flex-basis: 15em;
  margin: 0 1em;
}

.box-small {
  flex-grow: 1;
  width: 30em !important;
  margin: 0 1em;
}
.desc {
  margin: 0;
  flex-basis: 12em;
  flex-grow: 1;
  position: relative;
  width: 0.5em;
}

.blob {
  margin: 0.5em;
  border-radius: 0.2em;
  flex-basis: 12em;
  background: #ccc;
  padding: 1em;
  padding-bottom: 3em;
  flex-grow: 1;
  position: relative;
}

.blob .button {
  box-shadow: none;
  font-size: 85%;
}

.blob .button:hover {
  transform: none;
  box-shadow: none;
}

.blob button:active {
  transform: none;
  box-shadow: none;
}

.blob .button {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.2em;
  }
  .inner {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .account_name {
    display: none;
  }

  .space_one {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 1em;
  }
  .box {
    flex-grow: 1 !important;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 0.9em;
  }
}

#reloadBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #364fc7; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#reloadBtn:hover {
  background-color: #2e42a8; /* Add a dark-grey background on hover */
}

input[type="range"],
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

output {
  background: #364fc7;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 85%;
  height: 7px;
  background: #364fc7;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px !important;
  border-radius: 50%;
  background: #364fc7;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #364fc7;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #364fc7;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #364fc7;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #364fc7;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #364fc7;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #364fc7;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #364fc7;
}

input[type="range"]::-ms-thumb:hover {
  background: #364fc7;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
